/04-bases node/node_modules
/04-bases node/salida/*

/05-Aplicacion de consola/node_modules

/06-climaApp/node_modules
/06-climaApp/.env

/07-webserver/node_modules
/07-webserver/.env

/08-REST-server/node_modules