/04-bases node/node_modules
/04-bases node/salida/*

/05-Aplicacion de consola/node_modules

/06-climaApp/node_modules
/06-climaApp/.env

/07-web-server/node_modules
/07-web-server/.env

/08-REST-server/node_modules